.actorCard {
  height: 100%;
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 12px;
  font-weight: 800;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;

  &__imgcont {
    width: 80px;
    height: 80px;
    margin-bottom: 6px;

    &__img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      border-radius: 4px;
    }
  }

  &__name {
    color: white;
    width: 65%;
    align-self: baseline;
  }
}

@media (min-width: 1024px) {
  .actorCard {
    gap: 14px;
  }

  .actorCard__imgcont {
    height: 120px;
    width: 120px;
  }
}
