.cardContainer{

    width: 40%;
    height: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgba(128, 128, 128, 0.521);
    border-radius: 15px;
    cursor: pointer;
}

.cardContainer:hover{

    box-shadow: black;
}

.upperPart{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-position: center;
    padding-top: 0.5em;
    height: 86%;
    border-radius: 15px 15px 0px 0px;
    background-size: cover;
}

.upperPart__top{

    display: flex;
    width: 90%;
    align-self: center;
    justify-content: space-between;
    align-items: center;
}


.upperPart__top__ageRate{

    background-color: #07023178;
    padding: 0.4em 0.3em 0.4em 0.3em;
    border: 0.5px solid grey;
    border-radius: 5px;
    color: white;
    font-size: 0.8em;
    font-weight: 600;
}

.upperPart__top__fav:hover{

    color:red;
}

.upperPart__bottom{

    padding-left: 0.3em;
    background: linear-gradient(
    0deg, #01011d 76%, rgba(45, 238, 253, 0) 100%);
}

.upperPart__bottom__genre{

    color: #ff0040;
    font-size: 0.8em;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 87%;
    display: block;
    overflow: hidden;
}

.upperPart__bottom__flex{

    display: flex;
    align-items: center;
    gap: 0.3em;
    color: white;
}

.upperPart__bottom__flex__reviews{

    font-size: 0.7em;
}


.lowerPart{

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    grid-gap: 0.1em;
    gap: 0.1em;
    padding: 0.7em 0em 0.5em 0.3em;
    color: white;
}

.lowerPart__title{

    margin: 0em;
    color: #d8d8d8;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 87%;
    display: block;
    overflow: hidden;
}
.lowerPart__duration{

    margin: 0em;
    font-size: 0.5em;
    font-weight: 600;
    color: grey;
}