.Favsbttn {
  position: relative;
  color: #e2d0d0;
  top: 0px;
  padding: 4px;
  border-radius: 50px 0px 0px 50px;
  font-weight: 600;
  grid-gap: 8px;
  display: flex;
  height: 38px;
  width: 60px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    271deg,
    rgba(233, 30, 99, 0.02) 0%,
    rgba(255, 51, 101, 0.68) 91%
  );
}
