.filmcard{

    width: 30%;
    display: flex;
    flex-direction: column;
}

.filmcard__img{

    width: 8rem;
    height: 10rem;
    border-radius: 0.4em;
}

.filmcard__name{

    color: white;
}


@media (max-width: 480px){

    .filmcard__img{

        width: 6rem;
        height: 8rem;
    }
}