
.searchContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}
.searchContainer__bar{
    padding: 0.5em 1em;
    width: 100%;
    display: flex;
    border-radius: 25px;
    justify-content: space-between;
    border: 1px solid white;
}
.searchContainer__bar__input{
    flex: 0.9;
    background-color: transparent;
    color: white;
    outline: none;
    border: none;
    font-weight: 600;
}
.searchContainer__bar__icon{

    color: grey;
    font-size: 1.5rem;
}