.body{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
.topflex{
    position: relative;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-self: center;
    margin-top: 3rem;
    z-index: 1;
}
.backbtton{

    color: grey;
    text-decoration: none;
    cursor: pointer;
}
.backbtton::before{
    content: "<  ";
}

.maincontainer{

    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    width: 100%;
    position: relative;
}

    h1{
        width: 50%;
        color: white;
        font-size: 3.5rem;
        position: relative;
        line-height: 1em;
    }

.imgcontainer__img{

    max-height: 69vh;
}

.maincontainer__profile{

    display: flex;
    width: 100%;
    gap: 1.3em;
}

.maincontainer__profile__pic{

    width: 7rem;
    height: 9rem;
    border-radius: 0.5em;
    
}

.maincontainer__profile__flex{

    display: flex;
    flex-direction: column;
    gap: 0.1em;
    align-self: center;
}
.maincontainer__profile__flex__birth, .maincontainer__profile__flex__place{

    color: white;
    margin: 0em
}
.maincontainer__profile__flex__department{

    color: #ff3365;
    margin: 0px;
}

.films{

    width: 100%;
    display: flex;
    flex-direction: column;
}

.films__topflex{

    width: 85%;
    display: flex;
    justify-content: space-between;

    h4{
        color: white;
    }

    p{
        color: grey;
        cursor: pointer;
        user-select: none;
    }

    
}

.films__cardscontainer{

    display: flex;
    gap: 0.4em;
    overflow-x: auto;
}

.films__cardscontainer::-webkit-scrollbar {
    height: 0.3em;
  }
   
  .films__cardscontainer::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  .films__cardscontainer::-webkit-scrollbar-thumb {
    background-color: #ff3365;
    outline: 1px solid #ff3365;
  }

.biocontainer{

    color: white;
    padding-inline: 1em;

    h3{

        font-size: 2rem;
    }
}



@media (max-width: 480px){

    .films__cardscontainer{

        gap: 0.7em;
    }

    .biocontainer p{

        padding-right: 3em;
    }
}