$main-pink: #ff3365;

.body {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  align-items: center;

  .topflex {
    position: relative;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-self: center;
    margin-top: 3rem;
    z-index: 1;

    .backbtton {
      color: grey;
      text-decoration: none;
      cursor: pointer;
    }
    .backbtton::before {
      content: "<  ";
    }
  }
}

.maincontainer {
  display: flex;
  flex-direction: column;
  padding-inline: 16px;
  width: 100%;
  position: relative;
  max-width: 1024px;
  font-size: 14px;
  line-height: 20px;

  h1 {
    width: 70%;
    word-break: break-word;
    font-size: 40px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: -0.5px;
    text-align: left;
    margin-block: 24px;
    background: linear-gradient(
      152.39deg,
      #ececec 25.4%,
      #c4c4c4 52.32%,
      #ffffff 82.83%
    );
    background-clip: text;
    color: transparent;
  }

  .imgcontainer__img {
    opacity: 0.2;
  }

  &__profile {
    display: flex;
    width: 100%;
    gap: 16px;
    margin-bottom: 32px;

    &__imgcontainer {
      width: 80px;
      height: 80px;
      border-radius: 4px;

      &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 4px;
      }
    }

    &__flex {
      display: flex;
      flex-direction: column;
      gap: 2px;
      align-self: center;

      &__birth,
      &__place,
      &__department {
        color: white;
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: left;
      }

      &__department {
        color: $main-pink;
      }
    }
  }

  .films,
  .films__topflex {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 9px;

    &__topflex {
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      letter-spacing: 0px;

      h4 {
        color: white;
        font-size: 14px;
        font-weight: 800;
        line-height: 20px;
        text-align: left;
      }

      p {
        color: grey;
        font-size: 12px;
        font-weight: 300;
        line-height: 12px;
        text-align: right;
        cursor: pointer;
        user-select: none;
      }
    }

    &__cardscontainer {
      display: flex;
      gap: 13px;
      overflow-x: auto;
      overflow-y: hidden;

      &::-webkit-scrollbar {
        height: 0.3em;
      }

      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      }

      &::-webkit-scrollbar-thumb {
        background-color: $main-pink;
        outline: 1px solid $main-pink;
      }
    }
  }

  .biocontainer {
    color: white;
    margin-top: 24px;

    h3 {
      font-weight: 800;
      text-align: left;
      margin-bottom: 4px;
      background: linear-gradient(
        152.39deg,
        #ececec 25.4%,
        #c4c4c4 52.32%,
        #ffffff 82.83%
      );
      background-clip: text;
      color: transparent;
    }

    p {
      color: white;
      font-weight: 300;
      text-align: left;
    }
  }
}

@media (min-width: 700px) and (max-width: 1023px) {
  .biocontainer h3 {
    font-size: 27px;
    line-height: 67px;
  }

  .biocontainer p {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
  }
}

@media (min-width: 1024px) {
  .backbtton {
    font-size: 20px;
  }

  .maincontainer {
    gap: 14px;
  }
  .maincontainer h1 {
    font-size: 70px;
    line-height: 100px;
  }

  .maincontainer__profile {
    gap: 75px;
  }

  .maincontainer__profile__imgcontainer {
    width: 130px;
    height: 130px;
  }

  .maincontainer__profile__flex__birth {
    font-size: 24px;
    line-height: 30px;
  }

  .maincontainer__profile__flex__department {
    font-size: 20px;
  }

  .films__topflex h4 {
    font-size: 20px;
    line-height: 75px;
  }

  .films__topflex p {
    font-size: 15px;
  }

  .biocontainer {
    margin-top: 110px;
  }
  .biocontainer h3 {
    font-size: 27px;
    line-height: 67px;
  }

  .biocontainer p {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
  }
}
